{% extends "base.html" %}
{% load static %}

{% block title %}Password Changed - Todo List{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card auth-card">
                    <div class="card-body p-4 text-center">
                        <h2 class="mb-4">
                            <i class="bi bi-check-circle text-success"></i> Password Changed
                        </h2>

                        <div class="alert alert-success auth-alert">
                            <i class="bi bi-check-circle"></i>
                            Your password has been successfully changed!
                        </div>

                        <a href="{% url 'account_login' %}" class="btn btn-primary w-100">
                            <i class="bi bi-box-arrow-in-right"></i> Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'users/js/password_reset.js' %}"></script>
{% endblock %}
